flows/Becker_RFI_Lead_Routing_v29.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Handle_Duplicate_Lead</name>
        <label>Handle Duplicate Lead (silent)</label>
        <locationX>550</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varDuplicateHandled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Lead_Id_From_Existing</name>
        <label>Set Lead ID from Existing Lead</label>
        <locationX>0</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varCreatedLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Owner_Is_Rep</name>
        <label>Account Owner Is Real Sales Rep?</label>
        <locationX>176</locationX>
        <locationY>1694</locationY>
        <defaultConnectorLabel>No — system/non-standard owner, stay on queue</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_Standard_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_To_Account_Owner</targetReference>
            </connector>
            <label>Yes — Standard user found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_B2B_Account_Owner</name>
        <label>B2B with Existing Account?</label>
        <locationX>176</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>No — B2C or no account match</defaultConnectorLabel>
        <rules>
            <name>B2B_Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>My organization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExistingAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_Owner_User</targetReference>
            </connector>
            <label>Yes — B2B and account found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Account_Exist</name>
        <label>Is this B2B?</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Create_B2C_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B2C</defaultConnectorLabel>
        <rules>
            <name>Is_B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>My organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_B2B_Lead</targetReference>
            </connector>
            <label>B2B</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Lead_Exist</name>
        <label>Did Lead Already Exist?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — create new</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Lead</targetReference>
            </connector>
            <label>Yes — update existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Queue_Exist</name>
        <label>Queue Found?</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Lookup_Inside_Sales_Fallback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — fallback</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQueue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_To_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Support_Form</name>
        <label>Is this a Support (Contact Us) Submission?</label>
        <locationX>56</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — RFI / B2B path</defaultConnectorLabel>
        <rules>
            <name>Yes_Support_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service - Contact Us</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Us_Form</targetReference>
            </connector>
            <label>Yes — Support / Contact Us</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Campaign_Member</name>
        <label>Campaign ID Set?</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Check_B2B_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No campaign</defaultConnectorLabel>
        <rules>
            <name>Has_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Campaign_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Member_Exists</name>
        <label>Campaign Member Already Exists?</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — create it</defaultConnectorLabel>
        <rules>
            <name>Member_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingCampaignMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_B2B_Account_Owner</targetReference>
            </connector>
            <label>Yes — skip, already a member</label>
        </rules>
    </decisions>
    <description>Becker RFI Lead Routing v20 — routing matrix baked into SF flow (no Node.js/RFI_Suggested_Queue__c needed). Drupal webform submits directly; flow computes queue from Organization_Type__c x Organization_Size__c.</description>
    <formulas>
        <name>varB2BRecordTypeId</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Requesting_for__c}) = &quot;My organization&quot;,
  &quot;012i0000001E3hmAAC&quot;,
  &quot;01231000000y0UoAAI&quot;)</expression>
    </formulas>
    <formulas>
        <name>varComputedQueue</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Requesting_for__c}) != &quot;My organization&quot;,
  &quot;CS - Inside Sales&quot;,
  IF(TEXT({!$Record.Organization_Type__c}) = &quot;Non-US Organization&quot;,
    &quot;International&quot;,
  IF(OR(TEXT({!$Record.Organization_Type__c}) = &quot;University&quot;,
        TEXT({!$Record.Organization_Type__c}) = &quot;Society/Chapter&quot;),
    &quot;University&quot;,
  IF(OR(TEXT({!$Record.Organization_Type__c}) = &quot;Consulting Firm&quot;,
        TEXT({!$Record.Organization_Type__c}) = &quot;CPA Alliance&quot;),
    &quot;Global Firms&quot;,
  IF(TEXT({!$Record.Organization_Type__c}) = &quot;Accounting Firm&quot;,
    IF(TEXT({!$Record.Organization_Size__c}) = &quot;&lt;25&quot;,
      &quot;CS - Inside Sales&quot;,
      &quot;Global Firms&quot;),
  IF(TEXT({!$Record.Organization_Type__c}) = &quot;Student&quot;,
    &quot;CS - Inside Sales&quot;,
    IF(TEXT({!$Record.Organization_Size__c}) = &quot;&lt;25&quot;,
      &quot;CS - Inside Sales&quot;,
      &quot;New Client Acquisition&quot;)))))))</expression>
    </formulas>
    <formulas>
        <name>varProductLineMS</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Primary_Interest__c}) = &quot;EA&quot;, &quot;EA Exam Review&quot;,
  TEXT({!$Record.Primary_Interest__c}))</expression>
    </formulas>
    <formulas>
        <name>varCUFProductInterest</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(TEXT({!$Record.Primary_Interest__c}) = &quot;CIA_CHALLENGE&quot;,
     TEXT({!$Record.Primary_Interest__c}) = &quot;CIA Challenge Exam&quot;),
  &quot;CIA&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;EA&quot;,
    &quot;EA Exam Review&quot;,
    TEXT({!$Record.Primary_Interest__c})
  )
)</expression>
    </formulas>
    <formulas>
        <name>varCUFCountryPart1</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Address__CountryCode__s}),&quot;AF&quot;,&quot;Afghanistan&quot;,&quot;AX&quot;,&quot;Aland Islands&quot;,&quot;AL&quot;,&quot;Albania&quot;,&quot;DZ&quot;,&quot;Algeria&quot;,&quot;AS&quot;,&quot;American Samoa&quot;,&quot;AD&quot;,&quot;Andorra&quot;,&quot;AO&quot;,&quot;Angola&quot;,&quot;AI&quot;,&quot;Anguilla&quot;,&quot;AQ&quot;,&quot;Antarctica&quot;,&quot;AG&quot;,&quot;Antigua and Barbuda&quot;,&quot;AR&quot;,&quot;Argentina&quot;,&quot;AM&quot;,&quot;Armenia&quot;,&quot;AW&quot;,&quot;Aruba&quot;,&quot;AC&quot;,&quot;Ascension Island&quot;,&quot;AU&quot;,&quot;Australia&quot;,&quot;AT&quot;,&quot;Austria&quot;,&quot;AZ&quot;,&quot;Azerbaijan&quot;,&quot;BS&quot;,&quot;Bahamas&quot;,&quot;BH&quot;,&quot;Bahrain&quot;,&quot;BD&quot;,&quot;Bangladesh&quot;,&quot;BB&quot;,&quot;Barbados&quot;,&quot;BY&quot;,&quot;Belarus&quot;,&quot;BE&quot;,&quot;Belgium&quot;,&quot;BZ&quot;,&quot;Belize&quot;,&quot;BJ&quot;,&quot;Benin&quot;,&quot;BM&quot;,&quot;Bermuda&quot;,&quot;BT&quot;,&quot;Bhutan&quot;,&quot;BO&quot;,&quot;Bolivia&quot;,&quot;BQ&quot;,&quot;Bonaire, Sint Eustatius and Saba&quot;,&quot;BA&quot;,&quot;Bosnia and Herzegovina&quot;,&quot;BW&quot;,&quot;Botswana&quot;,&quot;BV&quot;,&quot;Bouvet Island&quot;,&quot;BR&quot;,&quot;Brazil&quot;,&quot;IO&quot;,&quot;British Indian Ocean Territory&quot;,&quot;VG&quot;,&quot;British Virgin Islands&quot;,&quot;BN&quot;,&quot;Brunei&quot;,&quot;BG&quot;,&quot;Bulgaria&quot;,&quot;BF&quot;,&quot;Burkina Faso&quot;,&quot;BI&quot;,&quot;Burundi&quot;,&quot;KH&quot;,&quot;Cambodia&quot;,&quot;CM&quot;,&quot;Cameroon&quot;,&quot;CA&quot;,&quot;Canada&quot;,&quot;CV&quot;,&quot;Cape Verde&quot;,&quot;KY&quot;,&quot;Cayman Islands&quot;,&quot;CF&quot;,&quot;Central African Republic&quot;,&quot;TD&quot;,&quot;Chad&quot;,&quot;CL&quot;,&quot;Chile&quot;,&quot;CN&quot;,&quot;China&quot;,&quot;CX&quot;,&quot;Christmas Island&quot;,&quot;CC&quot;,&quot;Cocos (Keeling) Islands&quot;,&quot;CO&quot;,&quot;Colombia&quot;,&quot;KM&quot;,&quot;Comoros&quot;,&quot;CG&quot;,&quot;Congo&quot;,&quot;CD&quot;,&quot;Congo, the Democratic Republic of the&quot;,&quot;CK&quot;,&quot;Cook Islands&quot;,&quot;CR&quot;,&quot;Costa Rica&quot;,&quot;CI&quot;,&quot;Cote D'Ivoire&quot;,&quot;HR&quot;,&quot;Croatia&quot;,&quot;CU&quot;,&quot;Cuba&quot;,&quot;CW&quot;,&quot;Curaçao&quot;,&quot;CY&quot;,&quot;Cyprus&quot;,&quot;CS&quot;,&quot;Czechoslovakia (former)&quot;,&quot;CZ&quot;,&quot;Czech Republic&quot;,&quot;DK&quot;,&quot;Denmark&quot;,&quot;DJ&quot;,&quot;Djibouti&quot;,&quot;DM&quot;,&quot;Dominica&quot;,&quot;DO&quot;,&quot;Dominican Republic&quot;,&quot;TL&quot;,&quot;East Timor&quot;,&quot;EC&quot;,&quot;Ecuador&quot;,&quot;EG&quot;,&quot;Egypt&quot;,&quot;SV&quot;,&quot;El Salvador&quot;,&quot;GQ&quot;,&quot;Equatorial Guinea&quot;,&quot;ER&quot;,&quot;Eritrea&quot;,&quot;EE&quot;,&quot;Estonia&quot;,&quot;ET&quot;,&quot;Ethiopia&quot;,&quot;EU&quot;,&quot;European Union&quot;,&quot;FK&quot;,&quot;Falkland Islands (Malvinas)&quot;,&quot;FO&quot;,&quot;Faroe Islands&quot;,&quot;FJ&quot;,&quot;Fiji&quot;,&quot;FI&quot;,&quot;Finland&quot;,&quot;FR&quot;,&quot;France&quot;,&quot;FX&quot;,&quot;France, Metropolitan&quot;,&quot;GF&quot;,&quot;French Guiana&quot;,&quot;PF&quot;,&quot;French Polynesia&quot;,&quot;TF&quot;,&quot;French Southern Territories&quot;,&quot;GA&quot;,&quot;Gabon&quot;,&quot;GM&quot;,&quot;Gambia&quot;,&quot;GE&quot;,&quot;Georgia&quot;,&quot;DE&quot;,&quot;Germany&quot;,&quot;GH&quot;,&quot;Ghana&quot;,&quot;GI&quot;,&quot;Gibraltar&quot;,&quot;GR&quot;,&quot;Greece&quot;,&quot;GL&quot;,&quot;Greenland&quot;,&quot;GD&quot;,&quot;Grenada&quot;,&quot;GP&quot;,&quot;Guadeloupe&quot;,&quot;GU&quot;,&quot;Guam&quot;,&quot;GT&quot;,&quot;Guatemala&quot;,&quot;GG&quot;,&quot;Guernsey&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCUFCountryPart2</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Address__CountryCode__s}),&quot;GN&quot;,&quot;Guinea&quot;,&quot;GW&quot;,&quot;Guinea-Bissau&quot;,&quot;GY&quot;,&quot;Guyana&quot;,&quot;HT&quot;,&quot;Haiti&quot;,&quot;HM&quot;,&quot;Heard and Mcdonald Islands&quot;,&quot;VA&quot;,&quot;Holy See (Vatican City State)&quot;,&quot;HN&quot;,&quot;Honduras&quot;,&quot;HK&quot;,&quot;Hong Kong&quot;,&quot;HU&quot;,&quot;Hungary&quot;,&quot;IS&quot;,&quot;Iceland&quot;,&quot;IN&quot;,&quot;India&quot;,&quot;ID&quot;,&quot;Indonesia&quot;,&quot;IR&quot;,&quot;Iran&quot;,&quot;IQ&quot;,&quot;Iraq&quot;,&quot;IE&quot;,&quot;Ireland&quot;,&quot;IM&quot;,&quot;Isle of Man&quot;,&quot;IL&quot;,&quot;Israel&quot;,&quot;IT&quot;,&quot;Italy&quot;,&quot;JM&quot;,&quot;Jamaica&quot;,&quot;JP&quot;,&quot;Japan&quot;,&quot;JE&quot;,&quot;Jersey&quot;,&quot;JO&quot;,&quot;Jordan&quot;,&quot;KZ&quot;,&quot;Kazakhstan&quot;,&quot;KE&quot;,&quot;Kenya&quot;,&quot;KI&quot;,&quot;Kiribati&quot;,&quot;XK&quot;,&quot;Kosovo&quot;,&quot;KW&quot;,&quot;Kuwait&quot;,&quot;KG&quot;,&quot;Kyrgyzstan&quot;,&quot;LA&quot;,&quot;Laos&quot;,&quot;LV&quot;,&quot;Latvia&quot;,&quot;LB&quot;,&quot;Lebanon&quot;,&quot;LS&quot;,&quot;Lesotho&quot;,&quot;LR&quot;,&quot;Liberia&quot;,&quot;LY&quot;,&quot;Libya&quot;,&quot;LI&quot;,&quot;Liechtenstein&quot;,&quot;LT&quot;,&quot;Lithuania&quot;,&quot;LU&quot;,&quot;Luxembourg&quot;,&quot;MO&quot;,&quot;Macau&quot;,&quot;MK&quot;,&quot;Macedonia, the former Yugoslav Republic of&quot;,&quot;MG&quot;,&quot;Madagascar&quot;,&quot;MW&quot;,&quot;Malawi&quot;,&quot;MY&quot;,&quot;Malaysia&quot;,&quot;MV&quot;,&quot;Maldives&quot;,&quot;ML&quot;,&quot;Mali&quot;,&quot;MT&quot;,&quot;Malta&quot;,&quot;MI&quot;,&quot;Marshall Islands&quot;,&quot;MH&quot;,&quot;Marshall Islands&quot;,&quot;MQ&quot;,&quot;Martinique&quot;,&quot;MR&quot;,&quot;Mauritania&quot;,&quot;MU&quot;,&quot;Mauritius&quot;,&quot;YT&quot;,&quot;Mayotte&quot;,&quot;MX&quot;,&quot;Mexico&quot;,&quot;FM&quot;,&quot;Micronesia&quot;,&quot;MD&quot;,&quot;Moldova&quot;,&quot;MC&quot;,&quot;Monaco&quot;,&quot;MN&quot;,&quot;Mongolia&quot;,&quot;ME&quot;,&quot;Montenegro&quot;,&quot;MS&quot;,&quot;Montserrat&quot;,&quot;MA&quot;,&quot;Morocco&quot;,&quot;MZ&quot;,&quot;Mozambique&quot;,&quot;MM&quot;,&quot;Myanmar&quot;,&quot;NA&quot;,&quot;Namibia&quot;,&quot;NR&quot;,&quot;Nauru&quot;,&quot;NP&quot;,&quot;Nepal&quot;,&quot;NL&quot;,&quot;Netherlands&quot;,&quot;AN&quot;,&quot;Netherlands Antilles&quot;,&quot;NT&quot;,&quot;Neutral Zone&quot;,&quot;NC&quot;,&quot;New Caledonia&quot;,&quot;NZ&quot;,&quot;New Zealand&quot;,&quot;NI&quot;,&quot;Nicaragua&quot;,&quot;NE&quot;,&quot;Niger&quot;,&quot;NG&quot;,&quot;Nigeria&quot;,&quot;NU&quot;,&quot;Niue&quot;,&quot;NF&quot;,&quot;Norfolk Island&quot;,&quot;MP&quot;,&quot;Northern Mariana Islands&quot;,&quot;KP&quot;,&quot;North Korea&quot;,&quot;NO&quot;,&quot;Norway&quot;,&quot;OM&quot;,&quot;Oman&quot;,&quot;PK&quot;,&quot;Pakistan&quot;,&quot;PW&quot;,&quot;Palau&quot;,&quot;PS&quot;,&quot;Palestinian Territories&quot;,&quot;PA&quot;,&quot;Panama&quot;,&quot;PG&quot;,&quot;Papua New Guinea&quot;,&quot;PY&quot;,&quot;Paraguay&quot;,&quot;PE&quot;,&quot;Peru&quot;,&quot;PH&quot;,&quot;Philippines&quot;,&quot;PN&quot;,&quot;Pitcairn&quot;,&quot;PL&quot;,&quot;Poland&quot;,&quot;PT&quot;,&quot;Portugal&quot;,&quot;PR&quot;,&quot;Puerto Rico&quot;,&quot;QA&quot;,&quot;Qatar&quot;,&quot;RE&quot;,&quot;Reunion&quot;,&quot;RO&quot;,&quot;Romania&quot;,&quot;RU&quot;,&quot;Russian Federation&quot;,&quot;RW&quot;,&quot;Rwanda&quot;,&quot;BL&quot;,&quot;Saint Barthélemy&quot;,&quot;SH&quot;,&quot;Saint Helena&quot;,&quot;KN&quot;,&quot;Saint Kitts and Nevis&quot;,&quot;LC&quot;,&quot;Saint Lucia&quot;,&quot;MF&quot;,&quot;Saint Martin (French part)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCUFCountryPart3</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Address__CountryCode__s}),&quot;VC&quot;,&quot;Saint Vincent and the Grenadines&quot;,&quot;WS&quot;,&quot;Samoa&quot;,&quot;SM&quot;,&quot;San Marino&quot;,&quot;ST&quot;,&quot;Sao Tome and Principe&quot;,&quot;SA&quot;,&quot;Saudi Arabia&quot;,&quot;SN&quot;,&quot;Senegal&quot;,&quot;RS&quot;,&quot;Serbia&quot;,&quot;YU&quot;,&quot;Serbia and Montenegro (former Yugoslavia)&quot;,&quot;SC&quot;,&quot;Seychelles&quot;,&quot;SL&quot;,&quot;Sierra Leone&quot;,&quot;SG&quot;,&quot;Singapore&quot;,&quot;SX&quot;,&quot;Sint Maarten (Dutch part)&quot;,&quot;SK&quot;,&quot;Slovakia&quot;,&quot;SI&quot;,&quot;Slovenia&quot;,&quot;SB&quot;,&quot;Solomon Islands&quot;,&quot;SO&quot;,&quot;Somalia&quot;,&quot;ZA&quot;,&quot;South Africa&quot;,&quot;GS&quot;,&quot;South Georgia and the South Sandwich Islands&quot;,&quot;KR&quot;,&quot;South Korea&quot;,&quot;SS&quot;,&quot;South Sudan&quot;,&quot;ES&quot;,&quot;Spain&quot;,&quot;LK&quot;,&quot;Sri Lanka&quot;,&quot;PM&quot;,&quot;St. Pierre And Miquelon&quot;,&quot;SD&quot;,&quot;Sudan&quot;,&quot;SR&quot;,&quot;Suriname&quot;,&quot;SJ&quot;,&quot;Svalbard And Jan Mayen Islands&quot;,&quot;SZ&quot;,&quot;Swaziland&quot;,&quot;SE&quot;,&quot;Sweden&quot;,&quot;CH&quot;,&quot;Switzerland&quot;,&quot;SY&quot;,&quot;Syrian Arab Republic&quot;,&quot;TW&quot;,&quot;Taiwan&quot;,&quot;TJ&quot;,&quot;Tajikistan&quot;,&quot;TZ&quot;,&quot;Tanzania&quot;,&quot;TH&quot;,&quot;Thailand&quot;,&quot;TG&quot;,&quot;Togo&quot;,&quot;TK&quot;,&quot;Tokelau&quot;,&quot;TO&quot;,&quot;Tonga&quot;,&quot;TT&quot;,&quot;Trinidad and Tobago&quot;,&quot;TN&quot;,&quot;Tunisia&quot;,&quot;TR&quot;,&quot;Turkey&quot;,&quot;TM&quot;,&quot;Turkmenistan&quot;,&quot;TC&quot;,&quot;Turks and Caicos Islands&quot;,&quot;TV&quot;,&quot;Tuvalu&quot;,&quot;UG&quot;,&quot;Uganda&quot;,&quot;UA&quot;,&quot;Ukraine&quot;,&quot;AE&quot;,&quot;United Arab Emirates&quot;,&quot;GB&quot;,&quot;United Kingdom&quot;,&quot;UK&quot;,&quot;United Kingdom&quot;,&quot;US&quot;,&quot;United States&quot;,&quot;UY&quot;,&quot;Uruguay&quot;,&quot;UM&quot;,&quot;US Minor Outlying Islands&quot;,&quot;SU&quot;,&quot;USSR (former)&quot;,&quot;UZ&quot;,&quot;Uzbekistan&quot;,&quot;VU&quot;,&quot;Vanuatu&quot;,&quot;VE&quot;,&quot;Venezuela&quot;,&quot;VN&quot;,&quot;Viet Nam&quot;,&quot;VI&quot;,&quot;Virgin Islands (U.S.)&quot;,&quot;WF&quot;,&quot;Wallis and Futuna Islands&quot;,&quot;EH&quot;,&quot;Western Sahara&quot;,&quot;YE&quot;,&quot;Yemen&quot;,&quot;ZM&quot;,&quot;Zambia&quot;,&quot;ZW&quot;,&quot;Zimbabwe&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCUFCountry</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!varCUFCountryPart1}) &gt; 0, {!varCUFCountryPart1}, IF(LEN({!varCUFCountryPart2}) &gt; 0, {!varCUFCountryPart2}, {!varCUFCountryPart3}))</expression>
    </formulas>
    <formulas>
        <name>varSubscriptionIds</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Requesting_for__c}) = &quot;My organization&quot;,
  &quot;B2B - News and Events;B2B - Events;B2B - New Products&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CPA&quot;, &quot;CPA Content;CPA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CMA&quot;, &quot;CMA Content;CMA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CPE&quot;, &quot;CPE Content;CPE Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CIA&quot;, &quot;CIA Content;CIA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;EA&quot;,  &quot;EA Content;EA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CFP&quot;, &quot;CPA Content;CPA Promotions&quot;,
  &quot;CPA Content;CPA Promotions&quot;)))))))</expression>
    </formulas>
    <interviewLabel>Becker RFI Lead Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Becker RFI Lead Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_B2B_Lead</name>
        <label>Create B2B Lead</label>
        <locationX>352</locationX>
        <locationY>614</locationY>
        <assignRecordIdToReference>varCreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Duplicate_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <stringValue>Becker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Becker_Student__c</field>
            <value>
                <elementReference>$Record.Is_Current_Becker_Student__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line_MS__c</field>
            <value>
                <elementReference>$Record.Product_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Graduation_Year__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_HQ_State__c</field>
            <value>
                <elementReference>$Record.HQ_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Org_Size_Category__c</field>
            <value>
                <elementReference>$Record.Organization_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Organization_Type__c</field>
            <value>
                <elementReference>$Record.Organization_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Role_Type__c</field>
            <value>
                <elementReference>$Record.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001E3hmAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_For__c</field>
            <value>
                <elementReference>$Record.Requesting_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_id__c</field>
            <value>
                <elementReference>varSubscriptionIds</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_B2C_Lead</name>
        <label>Create B2C Lead</label>
        <locationX>0</locationX>
        <locationY>614</locationY>
        <assignRecordIdToReference>varCreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Duplicate_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <stringValue>Becker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Becker_Student__c</field>
            <value>
                <elementReference>$Record.Is_Current_Becker_Student__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line_MS__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Becker_Student_Email__c</field>
            <value>
                <elementReference>$Record.email_address_you_use_to_login_to_Becker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Graduation_Year__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Role_Type__c</field>
            <value>
                <elementReference>$Record.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01231000000y0UoAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_For__c</field>
            <value>
                <elementReference>$Record.Requesting_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_id__c</field>
            <value>
                <elementReference>varSubscriptionIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_year_do_you_plan_to_graduate__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Check_B2B_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Us_Form</name>
        <label>Create Contact_Us_Form__c Record</label>
        <locationX>56</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <elementReference>$Record.BusinessBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>varCUFCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Applied__c</field>
            <value>
                <stringValue>Becker Contact US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_would_like_to_hear_more_about__c</field>
            <value>
                <elementReference>varCUFProductInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_tell_us_about_your_question__c</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Query_Type__c</field>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Us_Form__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Account</name>
        <label>Check Existing Account by Company</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varExistingAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_Existing_Lead</name>
        <label>Check Existing Lead by Email</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varExistingLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_Owner_User</name>
        <label>Look Up Account Owner (Sales Rep — has Sales Channel set)</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Owner_Is_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingAccount.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varAccountOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Inside_Sales_Fallback</name>
        <label>Fallback — Look Up CS - Inside Sales Queue</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_To_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS - Inside Sales</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>varQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue</name>
        <label>Look Up Queue by Computed Matrix Queue Name</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Queue_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComputedQueue</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>varQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_Existing_Campaign_Member</name>
        <label>Check Existing Campaign Member</label>
        <locationX>176</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Member_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <outputReference>varExistingCampaignMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lead_To_Account_Owner</name>
        <label>Assign Lead to Account Owner (Rep)</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccountOwner.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Lead_To_Queue</name>
        <label>Assign Lead to Queue</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Should_Create_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Lead</name>
        <label>Update Existing Lead</label>
        <locationX>0</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Set_Lead_Id_From_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <stringValue>Becker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Becker_Student__c</field>
            <value>
                <elementReference>$Record.Is_Current_Becker_Student__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line_MS__c</field>
            <value>
                <elementReference>$Record.Product_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Graduation_Year__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_HQ_State__c</field>
            <value>
                <elementReference>$Record.HQ_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Org_Size_Category__c</field>
            <value>
                <elementReference>$Record.Organization_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Organization_Type__c</field>
            <value>
                <elementReference>$Record.Organization_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Role_Type__c</field>
            <value>
                <elementReference>$Record.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varB2BRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_For__c</field>
            <value>
                <elementReference>$Record.Requesting_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_id__c</field>
            <value>
                <elementReference>varSubscriptionIds</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Support_Form</targetReference>
        </connector>
        <object>ExternalWebform__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCreatedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateHandled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varExistingLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>varExistingCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
