flows/Becker_RFI_Lead_Routing_v25.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Handle_Duplicate_Lead</name>
        <label>Handle Duplicate Lead (silent)</label>
        <locationX>550</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varDuplicateHandled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Lead_Id_From_Existing</name>
        <label>Set Lead ID from Existing Lead</label>
        <locationX>0</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varCreatedLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Owner_Is_Rep</name>
        <label>Account Owner Is Real Sales Rep?</label>
        <locationX>176</locationX>
        <locationY>1694</locationY>
        <defaultConnectorLabel>No — system/non-standard owner, stay on queue</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_Standard_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_To_Account_Owner</targetReference>
            </connector>
            <label>Yes — Standard user found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_B2B_Account_Owner</name>
        <label>B2B with Existing Account?</label>
        <locationX>176</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>No — B2C or no account match</defaultConnectorLabel>
        <rules>
            <name>B2B_Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>My organization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExistingAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_Owner_User</targetReference>
            </connector>
            <label>Yes — B2B and account found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Account_Exist</name>
        <label>Is this B2B?</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Create_B2C_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B2C</defaultConnectorLabel>
        <rules>
            <name>Is_B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>My organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_B2B_Lead</targetReference>
            </connector>
            <label>B2B</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Lead_Exist</name>
        <label>Did Lead Already Exist?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — create new</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Lead</targetReference>
            </connector>
            <label>Yes — update existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Queue_Exist</name>
        <label>Queue Found?</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Lookup_Inside_Sales_Fallback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — fallback</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQueue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_To_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Support_Form</name>
        <label>Is this a Support (Contact Us) Submission?</label>
        <locationX>56</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — RFI / B2B path</defaultConnectorLabel>
        <rules>
            <name>Yes_Support_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service - Contact Us</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Us_Form</targetReference>
            </connector>
            <label>Yes — Support / Contact Us</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Campaign_Member</name>
        <label>Campaign ID Set?</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Check_B2B_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No campaign</defaultConnectorLabel>
        <rules>
            <name>Has_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Campaign_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Member_Exists</name>
        <label>Campaign Member Already Exists?</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — create it</defaultConnectorLabel>
        <rules>
            <name>Member_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingCampaignMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_B2B_Account_Owner</targetReference>
            </connector>
            <label>Yes — skip, already a member</label>
        </rules>
    </decisions>
    <description>Becker RFI Lead Routing v20 — routing matrix baked into SF flow (no Node.js/RFI_Suggested_Queue__c needed). Drupal webform submits directly; flow computes queue from Organization_Type__c x Organization_Size__c.</description>
    <formulas>
        <name>varB2BRecordTypeId</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Requesting_for__c}) = &quot;My organization&quot;,
  &quot;012i0000001E3hmAAC&quot;,
  &quot;01231000000y0UoAAI&quot;)</expression>
    </formulas>
    <formulas>
        <name>varComputedQueue</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Requesting_for__c}) != &quot;My organization&quot;,
  &quot;CS - Inside Sales&quot;,
  IF(TEXT({!$Record.Organization_Type__c}) = &quot;Non-US Organization&quot;,
    &quot;International&quot;,
  IF(OR(TEXT({!$Record.Organization_Type__c}) = &quot;University&quot;,
        TEXT({!$Record.Organization_Type__c}) = &quot;Society/Chapter&quot;),
    &quot;University&quot;,
  IF(OR(TEXT({!$Record.Organization_Type__c}) = &quot;Consulting Firm&quot;,
        TEXT({!$Record.Organization_Type__c}) = &quot;CPA Alliance&quot;),
    &quot;Global Firms&quot;,
  IF(TEXT({!$Record.Organization_Type__c}) = &quot;Accounting Firm&quot;,
    IF(TEXT({!$Record.Organization_Size__c}) = &quot;&lt;25&quot;,
      &quot;CS - Inside Sales&quot;,
      &quot;Global Firms&quot;),
  IF(TEXT({!$Record.Organization_Type__c}) = &quot;Student&quot;,
    &quot;CS - Inside Sales&quot;,
    IF(TEXT({!$Record.Organization_Size__c}) = &quot;&lt;25&quot;,
      &quot;CS - Inside Sales&quot;,
      &quot;New Client Acquisition&quot;)))))))</expression>
    </formulas>
    <formulas>
        <name>varProductLineMS</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Primary_Interest__c}) = &quot;EA&quot;, &quot;EA Exam Review&quot;,
  TEXT({!$Record.Primary_Interest__c}))</expression>
    </formulas>
    <formulas>
        <name>varSubscriptionIds</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Requesting_for__c}) = &quot;My organization&quot;,
  &quot;B2B - News and Events;B2B - Events;B2B - New Products&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CPA&quot;, &quot;CPA Content;CPA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CMA&quot;, &quot;CMA Content;CMA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CPE&quot;, &quot;CPE Content;CPE Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CIA&quot;, &quot;CIA Content;CIA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;EA&quot;,  &quot;EA Content;EA Promotions&quot;,
  IF(TEXT({!$Record.Primary_Interest__c}) = &quot;CFP&quot;, &quot;CPA Content;CPA Promotions&quot;,
  &quot;CPA Content;CPA Promotions&quot;)))))))</expression>
    </formulas>
    <interviewLabel>Becker RFI Lead Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Becker RFI Lead Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_B2B_Lead</name>
        <label>Create B2B Lead</label>
        <locationX>352</locationX>
        <locationY>614</locationY>
        <assignRecordIdToReference>varCreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Duplicate_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <stringValue>Becker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Becker_Student__c</field>
            <value>
                <elementReference>$Record.Is_Current_Becker_Student__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line_MS__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Graduation_Year__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_HQ_State__c</field>
            <value>
                <elementReference>$Record.HQ_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Org_Size_Category__c</field>
            <value>
                <elementReference>$Record.Organization_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Organization_Type__c</field>
            <value>
                <elementReference>$Record.Organization_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Role_Type__c</field>
            <value>
                <elementReference>$Record.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001E3hmAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_For__c</field>
            <value>
                <elementReference>$Record.Requesting_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_id__c</field>
            <value>
                <elementReference>varSubscriptionIds</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_B2C_Lead</name>
        <label>Create B2C Lead</label>
        <locationX>0</locationX>
        <locationY>614</locationY>
        <assignRecordIdToReference>varCreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Duplicate_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <stringValue>Becker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Becker_Student__c</field>
            <value>
                <elementReference>$Record.Is_Current_Becker_Student__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line_MS__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Becker_Student_Email__c</field>
            <value>
                <elementReference>$Record.email_address_you_use_to_login_to_Becker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Graduation_Year__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Role_Type__c</field>
            <value>
                <elementReference>$Record.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01231000000y0UoAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_For__c</field>
            <value>
                <elementReference>$Record.Requesting_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_id__c</field>
            <value>
                <elementReference>varSubscriptionIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_year_do_you_plan_to_graduate__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Check_B2B_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Us_Form</name>
        <label>Create Contact_Us_Form__c Record</label>
        <locationX>56</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <elementReference>$Record.BusinessBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Applied__c</field>
            <value>
                <stringValue>Becker Contact US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_would_like_to_hear_more_about__c</field>
            <value>
                <elementReference>$Record.Primary_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_tell_us_about_your_question__c</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Query_Type__c</field>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Us_Form__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Account</name>
        <label>Check Existing Account by Company</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varExistingAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_Existing_Lead</name>
        <label>Check Existing Lead by Email</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varExistingLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_Owner_User</name>
        <label>Look Up Account Owner (Sales Rep — has Sales Channel set)</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Owner_Is_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingAccount.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varAccountOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Inside_Sales_Fallback</name>
        <label>Fallback — Look Up CS - Inside Sales Queue</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_To_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS - Inside Sales</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>varQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue</name>
        <label>Look Up Queue by Computed Matrix Queue Name</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Queue_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComputedQueue</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>varQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_Existing_Campaign_Member</name>
        <label>Check Existing Campaign Member</label>
        <locationX>176</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Member_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <outputReference>varExistingCampaignMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lead_To_Account_Owner</name>
        <label>Assign Lead to Account Owner (Rep)</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccountOwner.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Lead_To_Queue</name>
        <label>Assign Lead to Queue</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Should_Create_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Lead</name>
        <label>Update Existing Lead</label>
        <locationX>0</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Set_Lead_Id_From_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Brand__c</field>
            <value>
                <stringValue>Becker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Captured_Source__c</field>
            <value>
                <elementReference>$Record.Consent_Captured_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <elementReference>$Record.Consent_Provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.If_other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Becker_Student__c</field>
            <value>
                <elementReference>$Record.Is_Current_Becker_Student__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Form__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent_Status__c</field>
            <value>
                <elementReference>$Record.Privacy_Consent_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>varProductLineMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Graduation_Year__c</field>
            <value>
                <elementReference>$Record.What_year_do_you_plan_to_graduate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_HQ_State__c</field>
            <value>
                <elementReference>$Record.HQ_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Org_Size_Category__c</field>
            <value>
                <elementReference>$Record.Organization_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Organization_Type__c</field>
            <value>
                <elementReference>$Record.Organization_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFI_Role_Type__c</field>
            <value>
                <elementReference>$Record.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varB2BRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_For__c</field>
            <value>
                <elementReference>$Record.Requesting_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident_State__c</field>
            <value>
                <elementReference>$Record.Resident_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_id__c</field>
            <value>
                <elementReference>varSubscriptionIds</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Support_Form</targetReference>
        </connector>
        <object>ExternalWebform__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCreatedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateHandled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varExistingLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>varExistingCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
